# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.31er starting.iml
# Datasource local storage ignored files
/../../../../../../../:\Users\Robert\31er starting\.idea\.idea.31er starting\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
